@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo {
  height: 52px;
  width: auto;
  margin-right: -10px;
}

span {
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    color: white;
}

.logo-text {
  color: lightgray;
}

.navbar-group {
  text-align: center;
  display: flex;
  border-style: solid;
  background-color: #590904;
}

.link-border {
  display: inline-block;
  padding: 16px;
  width: 120px;
}

.link-border-logo {
  display: inline-block;
  margin-left: 0px;
  margin-top: 16px;
  width: 140px;
}